.container-detail_hotel{
    width: 60%;
    margin: 0 auto;

    .container-detail-box{
        display: flex;
        justify-content: space-around;
        
        .container-detail-item_box{
            padding: 15px 0;
            width: 24%;
            strong{
                display: block;
            }
            img{
                width: 100%;
                height: 270px;
                overflow: hidden;
            }
            a{
                text-decoration: underline;
                color: blue;
            }
            span{
                display: inline-block;
                background-color: blue;
                padding: 4px;
                color: white;
                font-weight: 400;
            }
            .item-type{
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}